# --------------------------------------------------------------------------------------------------
# ClangD (llvm c language server) configuration.
# Documentation: https://clangd.llvm.org/config.html
# --------------------------------------------------------------------------------------------------

Index:
  StandardLibrary: No
