# --------------------------------------------------------------------------------------------------
# Editor config file containing settings for this project.
# https://editorconfig.org/
# --------------------------------------------------------------------------------------------------

# All files.
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

# Cmake config.
[CMakeLists.txt]
indent_size = 2
indent_style = space

# Source files.
[*.{c,h}]
indent_size = 2
indent_style = space

# Script files.
[*.{sh,ps1}]
indent_size = 2
indent_style = space

# Config files.
[*.{md,json}]
indent_size = 2
indent_style = space
