# --------------------------------------------------------------------------------------------------
# Special file attributes for git.
# --------------------------------------------------------------------------------------------------

# Use unix line-ending for all text files.
* text eol=lf

# Binary files.
*.jpg binary
*.png binary
*.tga binary
*.ttf binary

# Override linguist language detection for custom extensions.
*.vert linguist-language=GLSL
*.frag linguist-language=GLSL
*.gra linguist-language=JSON
*.ftx linguist-language=JSON
*.ptx linguist-language=JSON
*.pme linguist-language=JSON
