# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Build output.
/[Bb]uild*

# User settings (Except portable common settings).
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/extensions.json

# Ide caches.
/.clangd/index/*
/.cache/
