# --------------------------------------------------------------------------------------------------
# Special file attributes for git.
# --------------------------------------------------------------------------------------------------

# Use unix line-ending for all text files.
* text eol=lf

# Binary files.
*.jpg binary
*.png binary
*.tga binary
*.ttf binary
*.wav binary

# Override linguist language detection for custom extensions.
*.vert linguist-language=GLSL
*.frag linguist-language=GLSL
*.arraytex linguist-language=JSON
*.atlas linguist-language=JSON
*.cursor linguist-language=JSON
*.decal linguist-language=JSON
*.fonttex linguist-language=JSON
*.graphic linguist-language=JSON
*.inputs linguist-language=JSON
*.level linguist-language=JSON
*.prefabs linguist-language=JSON
*.prefs linguist-language=JSON
*.procmesh linguist-language=JSON
*.proctex linguist-language=JSON
*.products linguist-language=JSON
*.terrain linguist-language=JSON
*.vfx linguist-language=JSON
*.weapons linguist-language=JSON
