# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Common build path.
/build/

# User settings (Except portable common settings).
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json

# Temporary files.
/.cache/
