# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Common build path.
/build/

# Common package path.
/package/

# User settings (Except portable common settings).
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/tasks.json

# Temporary files.
/.cache/

# Derrived files.
*.spv

# Downloaded files.
/assets/external/
